html {
  height: 101%; }

main {
  height: 100%;
  display: block; }

.seg-container {
  display: flex; }

.content-control-container {
  display: flex;
  justify-content: space-between; }

#content-tools {
  display: flex; }

#btn-delete {
  background-color: red; }

#btn-delete:hover {
  background-color: orangered; }

#input-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

#btn-upload {
  cursor: pointer; }

.content-control-element {
  display: flex; }

#btn-select-all {
  display: block;
  position: relative;
  margin-left: 0.3rem;
  margin-right: 1.3rem; }
