.result-container {
  display: flex;
  flex-wrap: wrap; }

.result-tile {
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  min-width: 7rem;
  width: 9rem;
  height: 9rem;
  overflow: hidden;
  overflow-wrap: break-word; }
  .result-tile h1, .result-tile h2, .result-tile h3, .result-tile h4, .result-tile h5, .result-tile h6, .result-tile p {
    text-align: center;
    margin: 0; }

.result-tile:hover .tile-marking {
  visibility: visible; }

.directory {
  border-color: blueviolet;
  color: blueviolet; }

.file {
  border-color: #439a86;
  color: #439a86; }

.icon-cont {
  display: flex;
  justify-content: center; }
  .icon-cont .fa {
    text-align: center;
    font-size: 5rem; }
  .icon-cont .img-thmb {
    position: absolute;
    z-index: 5;
    width: 5rem; }
  .icon-cont .img-thmb:hover {
    filter: brightness(0.8) grayscale(0.6); }

.tile-marking {
  position: absolute;
  visibility: visible; }

.tile-marking input {
  opacity: 0; }

.checkmark {
  border-style: solid;
  border-color: #2196f3;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff; }

.checkmark:hover {
  background-color: #d8d8d8; }

.tile-marking input:checked ~ .checkmark {
  background-color: #2196f3; }

.checkmark::after {
  content: "\f00c";
  font-family: FontAwesome;
  color: white;
  position: absolute;
  display: none;
  top: -0.2rem;
  font-size: 1.2rem; }

.tile-marking input:checked ~ .checkmark::after {
  display: block; }

#treeview-container {
  min-width: 16rem;
  margin-right: 2rem;
  font-size: 1.2rem; }
  #treeview-container ul {
    list-style: none;
    transition: all 0.5s; }
  #treeview-container a {
    padding: 0.2rem;
    transition: all 0.1s; }
  #treeview-container a:hover {
    color: lightblue; }
  #treeview-container .treeview-active {
    background-color: lightblue; }
  #treeview-container i {
    margin-right: 0.3rem;
    cursor: pointer;
    transition: transform 0.1s, color 0.1s; }
  #treeview-container i:hover {
    color: lightblue; }
  #treeview-container .rot-right {
    transform: rotate(-90deg); }
  #treeview-container .rot-down {
    transform: rotate(0deg); }

.resultimg {
  width: 100vh; }
