.jf-modal {
    display: none;
    position: fixed;
    z-index: 2000; // Whatever...^^
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.jf-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.jf-modal-error {
    .jf-modal-head {
        background-color: red;
    }
}
